html, body {
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
}

/*------------Content Container For Content Blocks */
.content-row {
    margin-top:150px;
    margin-bottom: 150px;
}

.content-row-medium {
    margin-top:70px;
    margin-bottom: 75px;
}

/*----------------------------Cards For Dashboard */
.card.horizontal .card-image img {
    height: 100%;
}

.collection .collection-item.avatar .title, .modal .title {
    font-size: 22px;
}

.card .btn {
    margin: 3px;
    width: 100px;
}

.card-coin-name-symbol {
    margin-top: 30px;
}

.rank-number {
    font-size: 40px;
    margin: 10px;
}

/*----------------------------------------Modals */

.modal-title-container {
    min-height: 84px;
    padding-left: 72px;
    position: relative;
}

.modal-title-container img {
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
}

.modal .card-title {
    display: block;
    line-height: 32px;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 300;
}

.wide-button {
    width:200px;
    margin: 5px;
}

/*----------------------------------------Footer */
.page-footer {
    padding-top: 20px;
    color: #fff;
    background-color: #7886cb;
}

/*-----------------------------------------Media Queries */

/*-----------Mobile (sm) */

@media(max-width: 992px) {

    nav .brand-logo{
        left: 55%;
        width: 80%;
        font-size: large;
    }
}