<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" type="text/css">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icons/favicon.ico')}}" />
    <title>My Cryptocoin Dashboard</title>
</head>
<body>
    <!-- Navbar for desktop and mobile screens -->
    <header>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper indigo lighten-2">
                        <a href="/index" class="brand-logo">My Crypto Dashboard</a>
                        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li class="{% if 'index' in request.path %} active {% endif %}"><a href="/index">Home</a></li>
                            <li><a href="https://bramrodrigo89.github.io/second-milestone-project/">My Stock Dashboard</a></li>
                            {% block extra_links %}
                            {% endblock %}
                        </ul>
                </div>
            </nav>
        </div>
        <ul class="side-nav" id="mobile-demo">
            <li class="{% if 'index' in request.path %} active {% endif %}"><a href="/index">Home</a></li>
            <li><a href="https://bramrodrigo89.github.io/second-milestone-project/">Stock Dashboard</a></li>
            {% block extra_mobile_links %}
            {% endblock %}
        </ul>
	</header>
    
    <!-- Main Content Container -->
    
    {% block content %}
    {% endblock %}
    

    <!-- Footer -->
	<footer class="page-footer">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 id="footer-title" class="white-text">My Cryptocoin Dashboard</h5>
					<p class="grey-text text-lighten-4">My Cryptocoin Dashboard is a simulation trading app for people who want to learn how to trade and monitor crypto holdings anywhere at any time, offering a wide range of the most popular cryptocurrencies today.</p>
				</div>
				<div class="col l4 offset-l2 s12">
					<h5 class="white-text">Menu</h5>
					<ul>
						<li><a class="grey-text text-lighten-3" href="/index">Home</a></li>
                        {% block extra_footer_links %}
                        {% endblock %}
						<li><a class="grey-text text-lighten-3" href="https://bramrodrigo89.github.io/second-milestone-project/">Stocks</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				© 2020 Copyright Text
				<a class="grey-text text-lighten-4 right" href="#!">More Links</a>
			</div>
		</div>
	</footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script defer src="{{ url_for('static', filename='js/functions.js')}}"></script>

    <!-- Base scripts -->
    <script>
		$(document).ready(function(){
            $('.collapsible').collapsible();
            $('.button-collapse').sideNav();
            $('.tooltipped').tooltip();
            $('.modal').modal();
        });

        // Toast initialization for modal messages
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            var $toastContent = $('<span>{{ message }}</span>').add($('<button class="btn-flat toast-action" onClick="dismissToast()"">Ok</button>'));
            Materialize.toast($toastContent, 4000);
            {% endfor %}
        {% endif %}
        {% endwith %}
        
        function dismissToast() {
            var toastElement = $('.toast').first()[0];
            var toastInstance = toastElement.M_Toast;
            toastInstance.remove();
        }
    </script>
    
    <!-- Custom scripts -->
	{% block scripts %}{% endblock scripts %}
</body>
</html>