<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" type="text/css">
    <title>My Cryptocoin Dashboard</title>
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                    <a href="#" class="brand-logo">My Crypto Dashboard</a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Link2</a></li>
                        <li><a href="#">Link3</a></li>
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Link2</a></li>
                        <li><a href="#">Link3</a></li>
                    </ul>
            </div>
        </nav>
	</header>
    <section>
        <div class="container">
            <div class="row">
                {% for user in users %}
                <div class="col s12 m6 push-m6">
                    <h3 class="header">Welcome, {{ user.profile.first_name }}</h3>
                    <div class="card horizontal">
                        <div class="card-image">
                            <img src="https://lorempixel.com/100/150/abstract/6">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <p>Name: {{ user.profile.first_name }} {{ user.profile.last_name }}</p>
                                <p>Joined since: {{ user.profile.date_joined }} </p>
                            </div>
                            <div class="card-action">
                                <a href="#">Update Your Profile</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 pull-m6">
                    <div class="card hoverable">
                        <div class="card-content">
                            <h5 class="header">Your Available Cash</h5>
                            <h4>{{ "US${:,.2f}".format(user.cash) }}</h4>
                            <div class="">
                                <blockquote>Your available funds to purchase cryptocoins.<br>Add as much as you want, it's free!</blockquote> 
                            </div>
                        </div>
                        <div class="card-action">
                            <a href="#">Add Funds</a>
                        </div>            
                    </div>
                </div>
            </div>

            {% endfor %}
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            {% block cryptoContent %}
            {% endblock %}
        </div>
    </section>
	<footer class="page-footer">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">Footer Content</h5>
					<p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto,
						cumque! Asperiores dolores eos, cum ipsa accusantium voluptatem provident possimus? Odio?</p>
				</div>
				<div class="col l4 offset-l2 s12">
					<h5 class="white-text">Links</h5>
					<ul>
						<li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
						<li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				© 2020 Copyright Text
				<a class="grey-text text-lighten-4 right" href="#!">More Links</a>
			</div>
		</div>
	</footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.collapsible').collapsible();
            $('select').material_select();
            $('.button-collapse').sideNav();
        });

    </script>
</body>
</html>