{% extends 'base.html' %}
{% block extra_links %}
<li class="active"><a href="/user/{{ user.username }}/dashboard"><i class="material-icons left">dashboard</i>My Dashboard</a></li>
<li><a href="/profile/{{ user.username }}"><i class="material-icons left">person</i>My Profile</a></li>
<li><a href="/logout">Log Out</a></li>
{% endblock %}

{% block extra_mobile_links %}
<li class="active"><a href="/user/{{ user.username }}/dashboard"><i class="material-icons left">dashboard</i>My Dashboard</a></li>
<li><a href="/profile/{{ user.username }}"><i class="material-icons left">person</i>My Profile</a></li>
<li><a href="/logout">Log Out</a></li>
{% endblock %}

{% block content %}
<div class="section white">
    <div class="row container content-row-medium">
        <div class="col s12">
            <div class="card indigo lighten-5">
                <div class="card-image">
                    <div class="chart" id="line-plot">
                        <script>
                            var graphs = {{ data | safe }};
                        </script>
                    </div>
                </div>
                <div class="card-content">
                    <span class="card-title">Performance History</span>
                    <p>You can visualize here your cryptocoin wallet performance over the time. Values are updated every day at midnight. If you have made recent transactions, please come back later when the chart has updated.</p>
                </div>
                <div class="card-action">
					<a href="/user/{{ user.username }}/dashboard"><a class="black-text" href="/user/{{ user.username }}/dashboard"><i class="material-icons left">dashboard</i>Back to Dashboard</a></a>
				</div>
            </div>
        </div>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax">
        <img class="responsive-img" src="{{ url_for('static', filename='images/background/background1.jpg')}}">
    </div>
</div>
{% endblock %}

{% block extra_footer_links %}
<li><a class="grey-text text-lighten-3" href="/user/{{ user.username }}/dashboard">My Dashboard</a></li>
<li><a class="grey-text text-lighten-3" href="/profile/{{ user.username }}">My Profile</a></li>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function(){
            Plotly.plot('line-plot',graphs,{});
        });
</script>
{% endblock %}