{% extends 'base.html' %}
{% block extra_links %}
<li class="active"><a href="/user/{{ user.username }}/dashboard"><i class="material-icons left">dashboard</i>My Dashboard</a></li>
<li><a href="/profile/{{ user.username }}"><i class="material-icons left">person</i>My Profile</a></li>
<li><a href="/logout">Log Out</a></li>
{% endblock %}

{% block extra_mobile_links %}
<li class="active"><a href="/user/{{ user.username }}/dashboard"><i class="material-icons left">dashboard</i>My Dashboard</a></li>
<li><a href="/profile/{{ user.username }}"><i class="material-icons left">person</i>My Profile</a></li>
<li><a href="/logout">Log Out</a></li>
{% endblock %}

{% block content %}
<div class="row content-row-medium">
	<div class="col s12">
		<div class="card indigo lighten-5">
			<div class="card-image">
				<div class="chart" id="line-plot">
					<script>
						var graphs = {{ data | safe }};
					</script>
				</div>
			</div>
			<div class="card-content">
				<span class="card-title">Performance History</span>
				<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I
					require little markup to use effectively.</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function(){
            Plotly.plot('line-plot',graphs,{});
        });
</script>
{% endblock %}