<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cryptocurrencies Dashboard</title>
</head>
<body>
    <h1>Welcome!</h1>
    <p>API Data Cryptocurrencies:</p>
    <p>Symbol: {{ data.symbol }}</p>
    <p>Latest Price: {{ data.latestPrice }}</p>
    <p>Bid Price: {{ data.bidPrice }}</p>
    <p>Ask Price: {{ data.askPrice }}</p>
    <p>Is US Market Open?: {{ data.isUSMarketOpen }}</p>



    
</body>
</html>