{% extends 'base.html' %}
{% block cryptoContent %}
<h4>API Data Cryptocurrencies:</h4>
<div class="row">
    <div class="col s12 m6">
        <ul class="collection">
        {% for coin_name, coin_info in data.items() %}
            <li class="collection-item avatar">
                <img src="{{ url_for('static', filename='images/icons/'+ coin_name.replace('USDT','').lower() +'.png') }}" alt="Cryptocoin Icon" class="circle">
                <span class="title">{{ coin_info['name'].replace('USD','') }}</span>
                <p>Latest price: {{ coin_info['latestPrice'] }}<br>
                Bid price: {{ coin_info['bidPrice'] }} <br>
                Ask price: {{ coin_info['askPrice'] }}
                </p>
                <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

for p_id, p_info in people.items():
    print("\nPerson ID:", p_id)
    
    for key in p_info:
        print(key + ':', p_info[key])