{% extends 'base.html' %}
{% block extra_links %}
<li class="active"><a href="/user/{{ user.username }}/dashboard" active><i class="material-icons left">dashboard</i>My Dashboard</a></li>
<li><a href="/profile/{{ user.username }}"><i class="material-icons left">person</i>My Profile</a></li>
<li><a href="/logout">Log Out</a></li>
{% endblock %}

{% block extra_mobile_links %}
<li class="active"><a href="/user/{{ user.username }}/dashboard" active><i class="material-icons left">dashboard</i>My Dashboard</a></li>
<li><a href="/profile/{{ user.username }}"><i class="material-icons left">person</i>My Profile</a></li>
<li><a href="/logout">Log Out</a></li>
{% endblock %}

{% block content %}

<!-- Display Cards: Profile Info And Total Balance -->
<section>
	<div class="row content-row-medium">
		<div class="col s12 m6">
			<h3 class="header">Welcome, {{ user.profile.first_name }}</h3>
			<div class="card horizontal">
				<div class="card-image">
					<img src="{{ user.profile.image }}">
                        </div>
					<div class="card-stacked">
						<div class="card-content">
							<p>Name: {{ user.profile.first_name }} {{ user.profile.last_name }}</p>
							<p>Joined since: {{ user.profile.date_joined.strftime("%m/%d/%Y") }} </p>
						</div>
						<div class="card-action">
							<a href="{{ user.profile.image }}">Update Your Profile</a>
						</div>
					</div>
			</div>
		</div>
		<div class="col s12 m6">
            {% if balance.percentChange >= 0.01  %}
            <div class="card hoverable green darken-3">
				<div class="card-content white-text">
					<h5 class="header">
                        <span><i class="material-icons">trending_up</i></span>
						Your Balance</h5>
					<h4>{{ "US$ {:,.2f}".format(balance.total|float) }} </h4>
					<h5 class="green-text text-lighten-4">
						{{ "US$ {:,.2f}".format(balance.change|float) }}
						(+{{ "{:,.2f}".format(balance.percentChange|float) }}%)
					</h5>
				</div>
				<div class="card-action">
					<a href="{{ url_for('line_chart', username=user.username) }}">History</a>
					<a href="#">Distribution</a>
				</div>
			</div>
            {% elif balance.percentChange < 0.00 %}
            <div class="card hoverable red darken-3">
                <div class="card-content white-text">
					<h5 class="header">
                        <span><i class="material-icons">trending_down</i></span>
						Your Balance</h5>
					<h4>{{ "US$ {:,.2f}".format(balance.total|float) }} </h4>
			        <h5 class="red-text text-lighten-4">
                        {{ "US$ {:,.2f}".format(balance.change|float) }}
                        ({{ "{:,.2f}".format(balance.percentChange|float) }}%)
                    </h5>
                </div>
				<div class="card-action">
					<a href="{{ url_for('line_chart', username=user.username) }}">History</a>
					<a href="#">Distribution</a>
				</div>
			</div>
			{% else %}
            <div class="card hoverable">
                <div class="card-content">
					<h5 class="header">
                        <span><i class="material-icons">trending_flat</i></span>
						Your Balance</h5>
					<h4>{{ "US$ {:,.2f}".format(balance.total|float) }} </h4>
			        <h5 class="">
                        {{ "US$ {:,.2f}".format(balance.change|float) }}
                        ({{ "{:,.2f}".format(balance.percentChange|float) }}%)
                    </h5>
                </div>
				<div class="card-action">
					<a href="{{ url_for('line_chart', username=user.username) }}">History</a>
					<a href="#balance-pie-chart-anchor">Distribution</a>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
</section>

<!-- Earned Cash, Rank And Available Cash -->
<section>
	<div class="row">
		<div class="col s12 m6">
            <div class="card hoverable indigo darken-2">
				<div class="card-content white-text">
                    <span class="card-title">Your Earned Cash</span>
					<span class="card-title">{{ "US$ {:,.2f}".format(user.cash_earned|float) }}</span>
					<div class="">
						<blockquote>
                            <h5><span><i class="material-icons">emoji_events</i></span> Your Rank: </h5>
                        </blockquote>
					</div>
				</div>
			</div>
		</div>
        <div class="col s12 m6">
            <div class="card hoverable indigo darken-2">
					<div class="card-content white-text">
						<span class="card-title">Your Available Cash</span>
						<span class="card-title">{{ "US$ {:,.2f}".format(user.cash) }}</span>
						<div class="">
							<blockquote>These are your available funds to purchase cryptocoins. Add as much as you want, it's free!</blockquote>
						</div>
					</div>
					<div class="card-action">
						<a class="waves-effect waves-light modal-trigger" href="#add-funds-modal">Add Funds</a>
					</div>
			</div>
        </div>
	</div>
</section>
<!-- Distribution Pie Chart -->
<section>    
	<div class="row">
		<div class="col s12">
			<div class="card hoverable indigo lighten-5">
				<div class="card-image">
                    <a id="balance-pie-chart-anchor">Jump here</a>
					<div class="chart" id="balance-pie-chart">
						<script>
							var graphs = {{ plot | safe }};
						</script>
					</div>
				</div>
				<div class="card-content">
					<span class="card-title">Balance Distribution</span>
					<p>I am a very simple card. I am good at containing small bits of information. I am convenient because I
						require little markup to use effectively.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Cryptocoin Wallet, Favorite Coins, Transaction and Other Coins -->
<section>
    <div class="row">
        <div class="col s12 m6">
            <h4>My Crypto Wallet</h4>
            <ul class="collection">
            {% for coin_name, coin_info in wallet_coins.items() %}
                <li class="collection-item avatar card card-list-coin">
                    <span class="card-coin-icon"><img src="{{ url_for('static', filename='images/icons/'+ coin_name.replace('USDT','').lower() +'.png') }}" alt="Cryptocoin Icon" class="circle"></span>
                    <span class="title card-coin-name-symbol"><span class="card-coin-name">{{ coin_info['name'].replace(' USD','') }}</span> (<span class="card-coin-short-symbol">{{coin_info['symbol_short'] }}</span>)</span>
                    <h6><span class="card-coin-available-ticker">{{ "{:,.2f}".format(coin_info['total_ticker']|float) }}</span> {{ coin_info['symbol_short'] }}</h6>
                    <h5> {{ "US$ {:,.2f}".format(coin_info['balance']|float) }}</h5>
                    {% if coin_info['value_change_percent'] >= 0.01 %}
                    <blockquote style="border-left:5px solid #00c853;">
                        Change: <strong style="color: #2E7D32;">{{ "US$ {:,.2f}".format(coin_info['value_change']|float) }} (+ {{ "{:,.2f}".format(coin_info['value_change_percent']|float) }}%)</strong><br>
                        Price: <strong class="card-coin-latest-price">{{ "US$ {:,.2f}".format(coin_info['latestPrice']|float) }}</strong><br>
                        Bid price: <span class="card-coin-bid-price">{{ "US$ {:,.2f}".format(coin_info['bidPrice']|float) }}</span><br>Ask price: <span class="card-coin-ask-price">{{ "US$ {:,.2f}".format(coin_info['askPrice']|float) }}</span>
                    </blockquote>
                    <span class="secondary-content" style="color:#00c853"><i class="material-icons">trending_up</i></span>
                    {% elif coin_info['value_change_percent'] < 0.00 %}
                    <blockquote style="border-left:5px solid #ee6e73;">
                        Change: <strong style="color: #C6281F;">{{ "US$ {:,.2f}".format(coin_info['value_change']|float) }} ( {{ "{:,.2f}".format(coin_info['value_change_percent']|float) }}%)</strong><br>
                        Price: <strong class="card-coin-latest-price">{{ "US$ {:,.2f}".format(coin_info['latestPrice']|float) }}</strong><br>
                        Bid price: <span class="card-coin-bid-price">{{ "US$ {:,.2f}".format(coin_info['bidPrice']|float) }}</span><br>Ask price: <span class="card-coin-ask-price">{{ "US$ {:,.2f}".format(coin_info['askPrice']|float) }}</span>
                    </blockquote>
                    <span class="secondary-content" style="color:#ee6e73"><i class="material-icons">trending_down</i></span>
                    {% else %}
                    <blockquote style="border-left:5px solid #0091ea;">
                        Change: <strong>{{ "US$ {:,.2f}".format(coin_info['value_change']|float) }} ({{ "{:,.2f}".format(coin_info['value_change_percent']|float) }}%)</strong><br>
                        Price: <strong class="card-coin-latest-price">{{ "US$ {:,.2f}".format(coin_info['latestPrice']|float) }}</strong><br>
                        Bid price: <span class="card-coin-bid-price">{{ "US$ {:,.2f}".format(coin_info['bidPrice']|float) }}</span><br>Ask price: <span class="card-coin-ask-price">{{ "US$ {:,.2f}".format(coin_info['askPrice']|float) }}</span>
                    </blockquote>
                    {% endif %}
                    <div class="card-action">
                        <a class="waves-effect waves-light btn green darken-3 modal-trigger open-buy-coin-modal-link" href="#buy-coin-modal" data-id="{{ coin_info['symbol'] }}">BUY</a>
                        <a class="waves-effect waves-light btn red darken-3 modal-trigger open-sell-coin-modal-link" href="#sell-coin-modal" data-id="{{ coin_info['symbol'] }}">SELL</a>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="col s12 m6">
            <h4>My Favorite Cryptocurrencies:</h4>
            {% if favorites %}
            <ul class="collection">
            {% for coin_name, coin_info in favorites.items() %}
                <li class="collection-item avatar card card-list-coin">
                    <span class="card-coin-icon"><img src="{{ url_for('static', filename='images/icons/'+ coin_name.replace('USDT','').lower() +'.png') }}" alt="Cryptocoin Icon" class="circle"></span>
                    <span class="title card-coin-name-symbol"><span class="card-coin-name">{{ coin_info['name'].replace(' USD','') }}</span> (<span class="card-coin-short-symbol">{{coin_info['symbol_short'] }}</span>)</span>
                    <blockquote style="border-left: 5px solid #039be5;">Price: <strong class="card-coin-latest-price">{{ "US$ {:,.2f}".format(coin_info['latestPrice']|float) }}</strong><br>
                                Bid price: <span class="card-coin-bid-price">{{ "US$ {:,.2f}".format(coin_info['bidPrice']|float) }}</span><br>Ask price: <span class="card-coin-ask-price">{{ "US$ {:,.2f}".format(coin_info['askPrice']|float) }}</span></blockquote>
                    <a href="/remove-fav/{{ user.username }}/{{ coin_info['symbol'] }}" class="secondary-content"><i class="material-icons" style="color:#039be5;">grade</i></a>
                    <div class="card-action">
                        <a class="waves-effect waves-light btn green darken-3 modal-trigger open-buy-coin-modal-link" href="#buy-coin-modal" data-id="{{ coin_info['symbol'] }}">BUY</a>
                    </div>
                </li>
            {% endfor %}
            </ul>
            {% else %}
            <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                <span class="card-title">No Favorite Coins!</span>
                <p>Check the crytpcoin list down below and add them to your favorites list using the star symbol.</p>
                </div>
                <div class="card-action">
                <a href="#">This is a link</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>

<!-- Transaction and Other Coins -->
<section>
    <div class="row">
        <div class="col s12">
            <h4>Latest Transactions</h4>
            {% if transactions %}
            <ul class="collection">
                {% for transaction in transactions %}
                <li class="collection-item avatar card">
                    <div class="row">
                        <div class="col s12 m6">
                            <img src="{{ url_for('static', filename='images/icons/'+ transaction['symbol'].replace('USDT','').lower() +'.png') }}" alt="Cryptocoin Icon" class="circle">
                            <h5>{{ transaction['ticker'] }} {{transaction['symbol'].replace('USDT','')}}</h5>
                            <span class="title">{{ transaction['name'] }} {{transaction['type'].capitalize() }}</span>
                            <h5>Total: {{ "US$ {:,.2f}".format(transaction['ticker']*transaction['price']) }}</h5>
                        </div>
                        <div class="col s12 m6">
                            {% if transaction['type'] == 'purchase' %}
                            <blockquote style="border-left:5px solid #2E7D32;">Date: {{ transaction['date'].strftime("%m/%d/%Y, %H:%M:%S") }}<br>Price: {{ "US$ {:,.2f}".format(transaction['price']) }}</blockquote>
                            <span class="secondary-content" style="color:#2E7D32">
                                <i class="material-icons">account_balance_wallet</i>
                                <i class="material-icons" style="color:#2E7D32">keyboard_arrow_left</i>
                            </span>
                            {% elif transaction['type'] == 'sale' %}
                            <blockquote style="border-left:5px solid #C62828;">Date: {{ transaction['date'].strftime("%m/%d/%Y, %H:%M:%S") }}<br>Price: {{ "US$ {:,.2f}".format(transaction['price']) }}</blockquote>
                            <span class="secondary-content" style="color:#C62828">
                                <i class="material-icons">account_balance_wallet</i>
                                <i class="material-icons" style="color:#C62828">keyboard_arrow_right</i>
                            </span>
                            {% endif %}
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            {% endif %}
        </div>
    </div>
    {% if not_favorites %}
    <div class="row">
        <h4>Other Cryptocurrencies:</h4>
        {% for coin_name, coin_info in not_favorites.items() %}
        <div class="col s12 m6"> 
            <ul class="collection">
                <li class="collection-item avatar card card-list-coin">
                    <span class="card-coin-icon"><img src="{{ url_for('static', filename='images/icons/'+ coin_name.replace('USDT','').lower() +'.png') }}" alt="Cryptocoin Icon" class="circle"></span>
                    <span class="title card-coin-name-symbol"><span class="card-coin-name">{{ coin_info['name'].replace(' USD','') }}</span> (<span class="card-coin-short-symbol">{{coin_info['symbol_short'] }}</span>)</span>
                    <blockquote style="border-left: 5px solid #7886cb;">Price: <strong class="card-coin-latest-price">{{ "US$ {:,.2f}".format(coin_info['latestPrice']|float) }}</strong><br>
                                Bid price: <span class="card-coin-bid-price">{{ "US$ {:,.2f}".format(coin_info['bidPrice']|float) }}</span><br>Ask price: <span class="card-coin-ask-price">{{ "US$ {:,.2f}".format(coin_info['askPrice']|float) }}</span></blockquote>
                    <a href="/add-fav/{{ user.username }}/{{ coin_info['symbol'] }}" style="color:#7886cb;" class="secondary-content"><i class="material-icons right" style="color:#7886cb;">add_circle_outline</i>Fav coin</a>
                    <div class="card-action">
                        <a class="waves-effect waves-light btn green darken-3 modal-trigger open-buy-coin-modal-link" href="#buy-coin-modal" data-id="{{ coin_info['symbol'] }}">BUY</a>
                    </div>
                </li>
            </ul>
        </div>
        {% endfor %}
    </div>
    {% else %}
    {% endif %}
</section>

<!-- BUY Coin Modal Structure -->
<div id="buy-coin-modal" class="modal">
	<div class="row">
		<form action="{{ url_for('buy_coins', username=user.username ) }}" method="POST" class="col s12">
			<div class="modal-content">
				<div class="modal-title-container">
					<span id="modal-buy-coin-icon"></span>
					<h4 id="modal-header">Buy <span id="modal-buy-coin-header"></span></h4>
                    <input type="text" id="submit-buy-coin-symbol" name="submit-buy-coin-symbol" style="display:none;" value=""/>
                    <input type="text" id="submit-buy-coin-name" name="submit-buy-coin-name" style="display:none;" value=""/>
				</div>
				<div id="modal-buy-coin-prices">
					<blockquote>
                        <input type="text" id="submit-buy-coin-latest-price" name="submit-buy-coin-latest-price" style="display:none;" value=""/>
                        <span class="card-title">Market Price: <span id="modal-buy-coin-latest-price"></span></span>
                        <input type="text" id="submit-buy-coin-bid-price" name="submit-buy-coin-bid-price" style="display:none;" value=""/>
                        <span class="card-title">Bid Price: <strong id="modal-buy-coin-bid-price"></strong></span>
					</blockquote>
				</div>
				<div class="modal-cash-available-container">
                    <span>Cash Available:</span>
				    <span id="modal-cash-available">{{ "US$ {:,.2f}".format(user.cash) }}</span>
                </div>
				<div class="row">
					<div class="input-field col s12 m6">
						<i class="material-icons prefix">account_balance_wallet</i>
						<input id="ticket-entry-number" required name="ticket-entry-number" type="number" step="0.01" min="0" class="validate">
						<label for="icon_prefix">Ticker</label>
					</div>
					<div class="input-field col s12 m6">
						<i class="material-icons prefix">monetization_on</i>
						<input id="cash-spent-entry" required name="cash-spent-entry" type="number" step="0.01" min="0" class="validate">
						<label for="icon_telephone">Cash Spent</label>
					</div>
				</div>
			</div> 
			<div class="modal-footer">
				<button id="modal-buy-button" type="submit" class="waves-effect waves-light btn green darken-3">Buy</button>
				<a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
			</div>
		</form>
	</div>
</div>

<!-- SELL Coin Modal Structure -->
<div id="sell-coin-modal" class="modal">
	<div class="row">
		<form action="{{ url_for('sell_coins', username=user.username ) }}" method="POST" class="col s12">
			<div class="modal-content">
				<div class="modal-title-container">
					<span id="modal-sell-coin-icon"></span>
					<h4 id="sell-modal-header">Sell <span id="modal-sell-coin-header"></span></h4>
                    <input type="text" id="submit-sell-coin-symbol" name="submit-sell-coin-symbol" style="display:none;" value=""/>
                    <input type="text" id="submit-sell-coin-name" name="submit-sell-coin-name" style="display:none;" value=""/>
				</div>
				<div id="modal-sell-coin-prices">
					<blockquote>
                        <input type="text" id="submit-sell-coin-latest-price" name="submit-sell-coin-latest-price" style="display:none;" value=""/>
                        <span class="card-title">Market Price: <span id="modal-sell-coin-latest-price"></span></span>
                        <input type="text" id="submit-sell-coin-ask-price" name="submit-sell-coin-ask-price" style="display:none;" value=""/>
                        <span class="card-title">Ask Price: <strong id="modal-sell-coin-ask-price"></strong></span>
					</blockquote>
				</div>
				<div class="modal-ticker-available-container">
                    <span>Available Ticker:</span>
				    <span id="modal-available-ticker"></span> <span id="modal-coin-symbol"></span>
                </div>
				<div class="row">
					<div class="input-field col s12 m6">
						<i class="material-icons prefix">account_balance_wallet</i>
						<input id="sell-ticket-entry-number" required name="sell-ticket-entry-number" type="number" step="0.01" min="0" class="validate">
						<label for="icon_prefix">Ticker</label>
					</div>
					<div class="input-field col s12 m6">
						<i class="material-icons prefix">monetization_on</i>
						<input id="cash-exchange-entry" required name="cash-exchange-entry" type="number" step="0.01" min="0" class="validate">
						<label for="icon_telephone">Cash Exchange</label>
					</div>
				</div>
			</div> 
			<div class="modal-footer">
				<button id="modal-sell-button" type="submit" class="waves-effect waves-light btn red darken-3">Sell</button>
				<a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
			</div>
		</form>
	</div>
</div>

<!-- Add Funds Modal Structure -->
<div id="add-funds-modal" class="modal">
	<div class="modal-content">
		<h4>Add More Funds</h4>
		<p>You always have the option to add extra cash to keep buying cryptocoins. Just select down below how much you
			need.</p>
		<div class="center">
			<a data-id="1,000" onclick="addFundsModal(this)"
				class="waves-effect waves-light btn green darken-3 wide-button"><i class="material-icons left add-funds-btn">attach_money</i>1,000</a>
			<a data-id="10,000" onclick="addFundsModal(this)"
				class="waves-effect waves-light btn green darken-3 wide-button"><i class="material-icons left add-funds-btn">attach_money</i>10,000</a>
			<a data-id="20,000" onclick="addFundsModal(this)"
				class="waves-effect waves-light btn green darken-3 wide-button"><i class="material-icons left add-funds-btn">attach_money</i>20,000</a>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
	</div>
</div>

<!-- Confirm Adding Funds Modal Structure -->
<div id="confirm-add-funds-modal" class="modal">
	<div class="modal-content">
		<h4>Add <span class="add-funds-amount"></span> To Your Funds</h4>
		<p>Do you want to add <span class="add-funds-amount"></span> to your funds? Your new total cash available will
			be:</p>
		<div class="center">
            <span id="cash-available-invisible" style="display:none;">{{ user.cash }}</span>
			<h5>US<span id="new-cash-available"></span></h5>
		</div>
		<p><strong>Remember! This is only a simulation.</strong> All the money displayed here is fictional so we will
			never ask you for your credit card</p>
	</div>
	<div class="modal-footer">
        <form action="{{ url_for('add_funds', username=user.username) }}" method="POST">
            <input id="confirm-add-funds-input" name="amount" value="" style="display:none;">
		    <button type="submit" class="waves-effect waves-light btn green darken-3 confirm-add-funds-btn">Confirm</button>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
        </form>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function(){
            Plotly.plot('balance-pie-chart',graphs,{});
            $('.tooltipped').tooltip();
            $('.modal').modal({
                dismissible: true, 
                complete: function() { 
                    $('#ticket-entry-number').val('');  
                    $('#sell-ticket-entry-number').val('');  
                    $('#cash-spent-entry').val('');
                    $('#cash-exchange-entry').val('');
                }
            });
        });
</script>
{% endblock %}