{% extends 'base.html' %}
{% block extra_links %}
    {% if 'user' in session %}
        <li><a href="/user/{{ user.username }}/dashboard">My Dashboard</a></li>
        <li><a href="/profile/{{ user.username }}">My Profile</a></li>
        <li><a href="/logout">Log Out</a></li>
    {% else %}
        <li><a href="/login">Log In</a></li>
        <li><a href="/signup">Sign Up</a></li>
    {% endif %}
{% endblock %}

{% block extra_mobile_links %}
    {% if 'user' in session %}
        <li><a href="/user/{{ user.username }}/dashboard">My Dashboard</a></li>
        <li><a href="/profile/{{ user.username }}">My Profile</a></li>
        <li><a href="logout">Log Out</a></li>
    {% else %}
        <li><a href="/login">Log In</a></li>
        <li><a href="#">Register</a></li>
    {% endif %}
{% endblock %}

{% block content %}
<div class="row content-row">
    <h1> My Crypto Dashboard </h1>
</div>
{% endblock %}
