{% extends 'base.html' %}
{% block extra_links %}
    {% if 'user' in session %}
        <li><a href="/user/{{ user.username }}/dashboard">Dashboard</a></li>
        <li><a href="/profile/{{ user.username }}">Profile</a></li>
        <li><a href="/logout">Log Out</a></li>
    {% else %}
        <li><a href="/login">Log In</a></li>
        <li><a href="#">Register</a></li>
    {% endif %}
{% endblock %}

{% block extra_mobile_links %}
    {% if 'user' in session %}
        <li><a href="/user/{{ user.username }}/dashboard">Dashboard</a></li>
        <li><a href="/profile/{{ user.username }}">Profile</a></li>
        <li><a href="logout">Log Out</a></li>
    {% else %}
        <li><a href="/login">Log In</a></li>
        <li><a href="#">Register</a></li>
    {% endif %}
{% endblock %}

{% block content %}
<div class="row content-row">
    <h1> My Crypto Dashboard </h1>
</div>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class=flashes>
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% endblock %}
