{% extends 'base.html' %}
{% block extra_links %}
<li><a href="/user/{{ user.username }}/dashboard"><i class="material-icons left">dashboard</i>My Dashboard</a></li>
<li class="active"><a href="/profile/{{ user.username }}" active><i class="material-icons left">person</i>My Profile</a></li>
<li><a href="/logout">Log Out</a></li>
{% endblock %}

{% block extra_mobile_links %}
<li><a href="/user/{{ user.username }}/dashboard"><i class="material-icons left">dashboard</i>My Dashboard</a></li>
<li class="active"><a href="/profile/{{ user.username }}" active><i class="material-icons left">person</i>My Profile</a></li>
<li><a href="/logout">Log Out</a></li>
{% endblock %}

{% block content %}
<div class="row content-row">
    <h1> Welcome, {{ user.profile.first_name|title }}</h1>
    <p>This is your profile</p>
</div>
{% endblock %}